body {
    font-family: Arial, Helvetica, sans-serif !important;
}

h2 {
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Brush Script MT', cursive;
}

.tag>label {
    width: 200px;
    font-weight: bold;
    letter-spacing: 1px;
}

.tag>input {
    background-color: #EEEEEE;
    outline: none !important;
    border: 0px solid !important;
}

.tag>input:focus {
    outline: none !important;
    border: 0px solid !important;
}

.btn-submit {
    border: 1px solid #000000;
    border-radius: 60px;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn-submit:hover {
    background-color: #EEEEEE;
}

.btn-update {
    border: 1px solid #000000;
    border-radius: 60px;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn-update:hover {
    background-color: #EEEEEE;
}

.btn-create {
    border: 1px solid #000000;
    border-radius: 60px;
    font-weight: bold;
}

.btn-create:hover {
    background-color: #EEEEEE;
}

.btn-tb {
    border: 1px solid #000000;
    border-radius: 60px;
    color: #000000;
    font-weight: bold;
}

.btn-tb:hover {
    background-color: #EEEEEE;
}

.btn-fill {
    border: 1px solid #000000;
    border-radius: 60px;
    color: #000000;
    font-weight: bold;
}

.btn-fill:hover {
    background-color: #EEEEEE;
}

.btn-back {
    border: 1px solid #FE9801;
    border-radius: 60px;
    color: #000000;
    font-weight: bold;
}

.btn-back:hover {
    background-color: #FBCEB5;
}

.alert-tag {
    margin-top: 10px;
    background-color: #B5FE83;
    color: #000000;
}

.alert-error {
    margin-top: 10px;
    background-color: #FF6363;
    color: #000000;
}

thead {
    background-color: #EEEEEE !important;
}

.edit:hover {
    cursor: pointer;
}

.delete:hover {
    cursor: pointer;
}